# Auto detect text files and perform LF normalization
* text=auto
transactions.csv filter=lfs diff=lfs merge=lfs -text
events.csv filter=lfs diff=lfs merge=lfs -text
Marketing & Transactions Dashboard.pbix filter=lfs diff=lfs merge=lfs -text
